@charset "utf-8";

#pagenav {
    float:right;
    font-size: 12px;
    font-weight: bold;
}

#pagenav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#pagenav li {
    list-style: none;
    background-color: #fff;
    margin: 0px;
    display: block;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

#pagenav li.disabled {
    border: 1px solid #DDDDDD;
    padding: 0px 6px 0px 6px;
    color: #999;
}

#pagenav li.count {
    border: 1px none;
    padding: 0px 6px 0px 6px;
    color: #999;
}

#pagenav li.current {
    border: 1px solid #AECCBA;
    padding: 0px 6px 0px 6px;
    background-color: #E3F5CE;
    color: #369;
}

#pagenav li.none {
    border: 1px none;
    padding: 0px 6px 0px 6px;
}

#pagenav li a {
    border: 1px solid #ccc;
    padding: 0px 6px 0px 6px;
    display: block;
    text-decoration: none;
}

#pagenav li a:hover {
    border: 1px solid #AECCBA;
    color:#09c;
}
