@charset "utf-8";

/* Class Style
---------------------------------------------------------*/
.btn {
    display: block;
    padding: 0 12px;
    background: #fff url(../../sysadm/img/btn.gif) repeat-x bottom;
    border: #b4b4b4 1px solid;
    font-size: 12px;
    }
    .btn:hover {
        border-color: #aaa;
        }
.btn-base {
    height: 25px;
    line-height: 25px;
    }
.btn-small-base {
	height: 20px;
	line-height: 20px;
	}
.btn-left {
    float: left;
    margin-right: 6px;
    }
.btn-right {
    float: right;
    margin-left: 6px;
    }
.btn-on {
    background: #fff url(../../sysadm/img/btn-on.gif) repeat-x bottom;
    }
    .btn-on:link,
    .btn-on:visited,
    .btn-on:active,
    .btn-on:hover {
        color: #636363;
        border-color: #aaa;
        }
.btn-ok {
    height: 25px;
    line-height: 25px;
    background: #fff url(../../sysadm/img/btn-ok.gif) repeat-x bottom;
    }
    .btn-ok:link,
    .btn-ok:visited,
    .btn-ok:active,
    .btn-ok:hover {
        color: #636363;
        border-color: #d4d4d4;
        }

.inline-list li {
	float: left;
	}

.colbox {
	width: 95%;
	margin: 0 auto;
	border: 1px #f3f3f3 solid;
	}
	.colbox h4 {
		height: 30px;
		line-height: 30px;
		font-size: 13px;
        border-bottom: #dfdfdf 1px solid;
        background: #fff url(../../sysadm/img/tabtbg.gif) repeat-x bottom;
		text-indent: 8px;
		}
	.colbox ol {
		margin: 8px 0;
		}

/* Content Layout Style
---------------------------------------------------------*/
.layout {}
    .layout-left,
    .layout-right {
        float: left;
        }
    .layout-left {
        width: 60%;
        }
    .layout-right {
        width: 38%;
        margin-left: 1.8%;
        }
/* Box Style
---------------------------------------------------------*/
.box {
    border: 1px #dfdfdf solid;
    }
    .box h3 {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #454545;
        text-indent: 1em;
        border-bottom: #dfdfdf 1px solid;
        background: #fff url(../../sysadm/img/tabtbg.gif) repeat-x bottom;
        }
    .box table {
        width: 100%;
        }
        .box table th {
            height: 25px;
            line-height: 25px;
            border-bottom: #eee 1px solid;
            background: #f9f9f9;
            font-size: 12px;
            }
		.box table tfoot th {
			padding: 3px 0;
			border-top: 1px #eee solid;
			text-align: left;
			padding-left: 8px;
			}
        .box table td {
            padding: 5px 0;
            color: #666;
            }

/* Note Style
---------------------------------------------------------*/
.note table th {
    text-align: right;
    padding-right: 1em;
    }
.note table td,
.note table th {
    height: 25px;
    line-height: 25px;
    border-bottom: #eee 1px solid;
    background: #f9f9f9;
    font-size: 12px;
    }

/* Table-Data Style
---------------------------------------------------------*/
.hover {
    background: #E2FFB3;
	}
.table-data {}
    .table-data .even td {
        background: #f6f6f6;
        }
    .table-data .hover td {
        background: #DCECF6;
        }
.table-data-cmd {
    margin: 0 12px;
    margin-top: 12px;
    height: 35px;
    }
/* Form Style
---------------------------------------------------------*/
.form {
    padding: 12px;
    }
    .form p {
        padding-bottom: 5px;
        }
        .form p label {
            display: block;
            font-size: 12px;
            color: #555;
            height: 25px;
            }
        .form small {
            display: block;
            font-size: 12px;
            color: #808080;
            text-indent: 20px;
            background: url(../../sysadm/img/info.gif) no-repeat 5px 6px;
            }
        .fluid-input {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            }
        .fluid-input-inner {
            display: block;
            padding-right: 10px;
            #zoom: 1;
            }
        .itext,
        .imemo {
            border: 1px #DCE4D9 solid;
            background: #F6FBF4;
            padding: 3px;
            width: 100%;
            font-size: 12px;
            }
        .ibtn {
            color: #555;
            height: 25px;
            padding: 0 12px;
            background: #fff url(../../sysadm/img/btn.gif) repeat-x bottom;
            border: #b4b4b4 1px solid;
            font-size: 12px;
            cursor: pointer;
            }
        .ibtn:hover {
            border-color: #ccc;
            }
        .ibtn-ok {
            color: #555;
            height: 25px;
            padding: 0 12px;
            background: #fff url(../../sysadm/img/btn-ok.gif) repeat-x bottom;
            border: #b4b4b4 1px solid;
            font-size: 12px;
            cursor: pointer;
            }
            .ibtn-ok:link,
            .ibtn-ok:visited,
            .ibtn-ok:active,
            .ibtn-ok:hover {
                color: #636363;
                border-color: #d4d4d4;
                }
    .form fieldset {
        border: 1px #DDE5DA solid;
        padding: 5px 12px;
        }
		.fold legend {
            cursor: pointer;
			}
    .form fieldset legend {
        font-size: 12px;
        color: #333;
        }
    .form fieldset div {
        padding: 3px 0;
        }
/* Tree Data Style
---------------------------------------------------------*/
.tree-data {
    padding: 8px 15px;
    }
    .tree-data li {
        font-size: 12px;
        }
    .tree-data a:link,
    .tree-data a:visited,
    .tree-data a:active {
        font-size: 12px;
        }
    .tree-data a:hover {
        }
/* Header Style
---------------------------------------------------------*/
#header {
    height: 50px !important;
    background: url(../../sysadm/img/tbg.gif) repeat-x;
    border-bottom: #CDE2EF 6px solid;
    }
    #logo,
        #logo a {
        display: block;
        width: 276px;
        height: 27px;
        }
    #logo {
        margin: 11px 0 0 15px;
        }
        #logo a {
            background: url(../../sysadm/img/six-horses.png) no-repeat;
            text-indent: -999em;
            }
    #user-panel {
        font-size: 12px;
        color: #e4e4e4;
        float: right;
        margin-right: 15px;
        height: 50px;
        line-height: 50px;
        }
        #user-panel p {
            float: left;
            }
        #user-panel a:link,
        #user-panel a:visited,
        #user-panel a:active {
            color: #fff;
            }
        #user-panel a:hover {
            text-decoration: underline;
            }
        #user-panel .btn {
            float: left;
            margin: 15px 0 0 12px;
            height: 19px;
            line-height: 19px;
            }
            #user-panel .btn:link,
            #user-panel .btn:visited,
            #user-panel .btn:active {
                color: #333;
                }
            #user-panel .btn:hover {
                color: #06c;
                text-decoration: none;
                }

/* Sidebar Style
---------------------------------------------------------*/
#sidebar {}
    #sidebar .sidebar {}
        #sidebar .sidebar h3 {
            border-bottom: #c7c7c7 1px solid;
            border-top: #eee 1px solid;
            }
        #sidebar .sidebar .ui-state-default {
            height: 40px;
            background: url(../../sysadm/img/navbg-off.gif) repeat-x;
            }
            #sidebar .sidebar .ui-state-default a {
                display: block;
                height: 40px;
                line-height: 40px;
                font-size: 13px;
                font-weight: normal;
                text-indent: 40px;
                background: url(../../sysadm/img/navdot-off.png) no-repeat 12px 11px;
                }
            #sidebar .sidebar .ui-state-default a:link,
            #sidebar .sidebar .ui-state-default a:visited,
            #sidebar .sidebar .ui-state-default a:active {
                color: #333;
                }
            #sidebar .sidebar .ui-state-default a:hover {
                color: #000;
                }
        #sidebar .sidebar .ui-state-active {
            height: 40px;
            background: url(../../sysadm/img/navbg-on.gif) repeat-x;
            }
            #sidebar .sidebar .ui-state-active a {
                display: block;
                height: 40px;
                line-height: 40px;
                font-size: 13px;
                font-weight: normal;
                text-indent: 40px;
                background: url(../../sysadm/img/navdot-on.png) no-repeat 12px 11px;
                }
            #sidebar .sidebar .ui-state-active a:link,
            #sidebar .sidebar .ui-state-active a:visited,
            #sidebar .sidebar .ui-state-active a:active {
                color: #333;
                }
            #sidebar .sidebar .ui-state-active a:hover {
                color: #000;
                }

        #sidebar .sidebar .sub-nav {}
            #sidebar .sidebar .sub-nav h3 {
                border-bottom: #efefef 1px solid;
                }
            #sidebar .sidebar .sub-nav .ui-state-default {
                height: 27px;
                background: #ffd;
				border-bottom: #fafafa 1px solid;
                }
                #sidebar .sidebar .sub-nav .ui-state-default a {
                    display: block;
                    height: 27px;
                    line-height: 27px;
                    font-size: 12px;
                    font-weight: normal;
                    text-indent: 40px;
                    background: url(../../sysadm/img/navarr-off.gif) no-repeat 25px 11px;
                    }
                #sidebar .sidebar .sub-nav .ui-state-default a:link,
                #sidebar .sidebar .sub-nav .ui-state-default a:visited,
                #sidebar .sidebar .sub-nav .ui-state-default a:active {
                    color: #333;
                    }
                #sidebar .sidebar .sub-nav .ui-state-default a:hover {
                    color: #000;
                    }
            #sidebar .sidebar .sub-nav .ui-state-active {
                height: 27px;
                background: #efefff;
                border-top: 1px #fff solid;
                }
                #sidebar .sidebar .sub-nav .ui-state-active a {
                    display: block;
                    height: 27px;
                    line-height: 27px;
                    font-size: 12px;
                    font-weight: normal;
                    text-indent: 40px;
                    background: url(../../sysadm/img/navarr-on.gif) no-repeat 25px 11px;
                    }
                #sidebar .sidebar .sub-nav .ui-state-active a:link,
                #sidebar .sidebar .sub-nav .ui-state-active a:visited,
                #sidebar .sidebar .sub-nav .ui-state-active a:active {
                    color: #333;
                    }
                #sidebar .sidebar .sub-nav .ui-state-active a:hover {
                    color: #000;
                    }
            #sidebar .sidebar .nav ul,
            #sidebar .sidebar .sub-nav ul {
                margin: 0;
                padding: 0;
                list-style: none;
                }
                #sidebar .sidebar .sub-nav ul li {
                    height: 25px;
                    line-height: 25px;
                    margin-left: 35px;
                    text-indent: 12px;
                    background: url(../../sysadm/img/navarr-off.gif) no-repeat 0 10px;
                    }
                    #sidebar .sidebar .sub-nav ul li a:link,
                    #sidebar .sidebar .sub-nav ul li a:visited,
                    #sidebar .sidebar .sub-nav ul li a:active {
                        font-size: 12px;
                        }
                    #sidebar .sidebar .sub-nav ul li a:hover {}
            #sidebar .sidebar .nav ul li {
                margin: 0;
                border-bottom: 1px #f3f3f3 solid;
                }
                #sidebar .sidebar .nav ul li a {
                    display: block;
                    height: 25px;
                    line-height: 25px;
                    text-indent: 40px;
                    font-size: 12px;
                    background: url(../../sysadm/img/navarr-off.gif) no-repeat 25px 10px;
                    }

/* Content Style (Inner)
---------------------------------------------------------*/
#content {}
    #inner-content {
        width: 100%;
        }
        .inner-content {
            padding: 10px;
            }
            #welcome {}
                #welcome h2 {
                    font-size: 22px;
                    color: #666;
                    text-indent: .6em;
                    }
        #position {
            height: 28px;
            line-height: 28px;
            font-size: 12px;
            color: #666;
            background: #E2FFB3;
            padding-left: 15px;
            }
            #position span {
                color: #693;
                }
        #cmd {
            margin: 10px 0;
            }
            #cmd .btn {
                height: 25px;
                line-height: 25px;
                }
            #cmd .fl {
                margin-right: 8px;
                }
            #cmd .fr {
                margin-left: 8px;
                }

/* PicList Style
---------------------------------------------------------*/
.piclist {
	list-style: none;
	}
	.piclist li { 
		width: 200px;
		float: left; 
		min-height: 130px; 
		_height: 130px;
		/*text-align: center; */
		font-size: 12px; 
		}
		.piclist li .pic { margin-right: 10px; }
		.piclist li img { border: 2px solid #E2FFB3; padding: 1px; margin-top: 3px; }

/* Footer Style
---------------------------------------------------------*/
#footer {
    height: 30px !important;
    background: url(../../sysadm/img/fbg.gif) repeat-x;
    }
    #quicklink {
        float: left;
        }
        #quicklink label {
            display: block;
            float: left;
            margin-left: 15px;
            height: 30px;
            line-height: 30px;
            color: #fff;
            font-size: 12px;
            }
        #quicklink div {
            float: left;
            }
            #quicklink div ul {
                margin: 0;
                padding: 0;
                list-style: none;
                }
                #quicklink div ul li {
                    float: left;
                    margin-top: 5px;
                    margin-left: 10px;
                    }
    #languages {
        float: right;
        margin-right: 15px;
        }
        #languages span {
            height: 30px;
            line-height: 30px;
            color: #fff;
            font-size: 12px;
            margin-right: 6px;
            }
